#leftbox
  = blurb(@homeleft)

#centerbox
  = blurb(@homecenter)
  
#rightbox
  = blurb(@homeright)
  %iframe{:width => "175", :height => "150", :frameborder => "0", :scrolling => "no", :marginheight => "0", :marginwidth => "0", :src => "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=1707+E+Andy+Devine+Ave+Kingman,+AZ+86409&aq=&sll=35.192767,-114.034524&sspn=0.010346,0.01399&ie=UTF8&hq=&hnear=1707+E+Andy+Devine+Ave,+Kingman,+Arizona+86401&t=m&ll=35.192749,-114.034567&spn=0.010521,0.014935&z=14&iwloc=A&output=embed" }
  %br
  %small
    = link_to 'View Larger Map', 'http://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=1707+E+Andy+Devine+Ave+Kingman,+AZ+86409&aq=&sll=35.192767,-114.034524&sspn=0.010346,0.01399&ie=UTF8&hq=&hnear=1707+E+Andy+Devine+Ave,+Kingman,+Arizona+86401&t=m&ll=35.192749,-114.034567&spn=0.010521,0.014935&z=14&iwloc=A" style="color:#0000FF;text-align:left', :target => '_blank'