#leftbox
  = blurb(@homeleft)

#centerbox
  = blurb(@homecenter)
  
#rightbox
  = blurb(@homeright)
  %iframe{:width => "175", :height => "150", :frameborder => "0", :scrolling => "no", :marginheight => "0", :marginwidth => "0", :src => "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=1520+Northern+Avenue+Kingman,+AZ+86409&aq=&sll=37.0625,-95.677068&sspn=34.176059,51.503906&ie=UTF8&hq=&hnear=1520+Northern+Ave,+Kingman,+Arizona+86409&t=m&ll=35.25347,-114.034481&spn=0.021027,0.034332&z=13&iwloc=A&output=embed" }
  %br
  %small
    = link_to 'View Larger Map',  'http://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=1520+Northern+Avenue+Kingman,+AZ+86409&aq=&sll=37.0625,-95.677068&sspn=34.176059,51.503906&ie=UTF8&hq=&hnear=1520+Northern+Ave,+Kingman,+Arizona+86409&ll=35.253519,-114.034553&spn=0.068844,0.100594&t=m&z=13" style="color:#0000FF;text-align:left'