<h1>Listing blurbs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th></th>
    <th></th>
  </tr>

<% @blurbs.each do |blurb| %>
  <tr>
    <td><%= blurb.name %></td>
    <td><%= blurb.content %></td>
    <td><%= link_to 'Show', blurb %></td>
    <td><%= link_to 'Edit', edit_blurb_path(blurb) %></td>
  </tr>
<% end %>
</table>
