#contact_form {
  @media screen and (min-width: 500px) {
    /* regular layout */
    width: 29em;
    margin: 2em auto 0 auto;
  }
  @media screen and (max-width: 500px) {
    /* mobile layout */
   width: 100%;
   max-width: 100%;
   margin: 2em 0 0 0;
   table {
     /* recaptcha shouldn't be bigger than the viewport */
     max-width: 100%;
     word-wrap: break-word;
   }
  }
  .field {
    clear: both;
    padding: 0;
    margin: .5em 0 .5em 0;
    label {
      display: block;
      float: left;
      width: 6em;
      padding: 0;
      margin: 0;
      font-weight: bold;
    }
    input, textarea {
      @include rounded(1px, #cccccc, .5em, .2em, solid);
      background-color: white;
      width: 20em;
      padding: 0;
      margin: .25em 0 .25em 0;
      max-width: 100%;
    }
  }
  .actions {
    clear: both;
    text-align: center;
    input[type=submit] {
      @include rounded(1px, #555555, .5em, .2em, solid);
      background-color: white;
      color: #333333;
      padding: .2em 1em .2em 1em;
      margin: .5em 0 .5em 0;
    }
  }
  .required {
    font-weight: bold;
    color: red;
  }
}