#contact_form {
  width: 50%;
  margin: 2em auto 0 auto;
  .field {
    clear: both;
    margin: .5em 0 .5em 0;
    label {
      display: block;
      float: left;
      width: 6em;
      font-weight: bold;
    }
    input, textarea {
      @include rounded(1px, #cccccc, .5em, .2em, solid);
      background-color: white;
      margin: .25em 0 .25em 0;
    }
  }
  .actions {
    clear: both;
    text-align: center;
    input[type=submit] {
      @include rounded(1px, #555555, .5em, .2em, solid);
      background-color: white;
      color: #333333;
      padding: .2em 1em .2em 1em;
      margin: .5em 0 .5em 0;
    }
  }
  .required {
    font-weight: bold;
    color: red;
  }
}