body, select, input, textarea {
  /* default font size, text color, etc */
  color: $base_font_color;
  font-size: $base_font_size;
  font-family: $content_font_family;
}

/* for a fluid layout; this will make this scale down to fit */
img,
embed,
object,
video {
  max-width: 100%;
}

body {
  background-image: url(/assets/background.png);
  background-repeat: repeat-x;
  background-position: top left;
  background-color: $page_bg;
}

p {
  margin: .5em 0em .5em 0em;
  padding: 0;
}

address {
  font-style: normal;
}

// other link stuff defined in the boilerplate, but I think it's good to
// have visited non-nav links be a different color
a:link, a:active { color: $link_color; }
a:visited { color: $visited_link_color; }
a:hover { color: $hover_color; }

// easily align things in haml
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.clear {
  clear: both;
}

#container {
  max-width: $max_page_width;
  margin: auto;
}
  
#admin {
  width: 100%;
  text-align: center;
  clear: both;
  font-size: 100%;
  padding-bottom: .25em;
  color: $footer_font_color;
  a:link, a:active, a:visited, a:hover {
    color: $footer_font_color;
    text-decoration: none;
  }
  a:hover {
    color: $hover_color;
  }
}

html.ie6 #pagehead, html.ie7 #pagehead, html.ie9 #pagehead {
  // copied from below because old IE ignores media queries
  height: 145px;
  width: 840px;
  max-width: $head_width;
  #banner {
    float: left;
    width: 440px;
    text-align: left;
    font-size: 150%;
    margin: 1em 0 1em 0;
  }
  #catbox {
    float: right;
    background-image: url(/assets/friends.png);
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 ($max_page_width/2)-($max_page_width/2);
    width: 400px;
    height: 165px;
    z-index: 100;
    #directions {
      color: $footer_font_color;
      text-align: right;
      font-size: 90%;
      margin: 0;
      padding: .25em 0 0 0;
    }
  }
}
#pagehead {
  overflow: hidden;
  color: $header_font_color;
  padding: 0;
  margin: 0;
  // will switch to mobile @ given size
  @media screen and (min-width: 500px) {
    /* regular layout */
    height: 145px;
    max-width: $head_width;
    #banner {
      float: left;
      width: $max_page_width/2;
      max-width: 50%;
      text-align: left;
      font-size: 150%;
      margin: 1em 0 1em 0;
    }
    #catbox {
      float: right;
      background-image: url(/assets/friends.png);
      background-repeat: no-repeat;
      background-position: top right;
      position: absolute;
      top: 0;
      left: 50%;
      margin: 0 0 0 ($max_page_width/2)-($max_page_width/2);
      max-width: 50%;
      width: $max_page_width/2;
      height: 165px;
      z-index: 100;
      #directions {
        color: $header_font_color;
        text-align: right;
        font-size: 90%;
        margin: 0;
        padding: .25em .5em 0 0;
      }
    }
  }
  @media screen and (max-width: 500px) {
    /* mobile layout */
    #banner {
      max-width: 50%;
      text-align: left;
      font-size: 150%;
      margin: 0 0 0 1em;
      float: left;
    }
    #catbox {
      float: right;
      max-width: 50%;
      height: 100px;
      #directions {
        color: $header_font_color;
        text-align: right;
        font-size: 90%;
        margin: 0;
        padding: .25em 1em .25em 0;
      }
    }
  }
}

#navigation {
  max-width: $navigation_width;
  background-color: $navigation_bg;
  border-top: 1px solid $border_color;
  border-bottom: 1px solid $border_color;
  margin: .5em 0 0 0;
  padding: 0;
  overflow: hidden;
  ul {
    clear: both;
    display: block;
    list-style-type: none;
    padding: 0;
    margin: auto;
    overflow: hidden;
    li {
      display: inline;
      text-align: center;
      color: $navigation_font_color;
      background-color: $navigation_bg;
      margin: 0 auto 0 auto;
      float: left;
      padding: .5em 0 .5em 0;
      width: 16%;
      @media screen and (max-width: 500px) {
        /* mobile layout */
        width: $navigation_width/2;
      }
    }
  }
  a:link, a:active, a:visited {
    text-decoration: none;
    font-size: 115%;
    font-weight: bold;
    color: $navigation_font_color;
  }
  a:hover {
    font-weight: bold;
    font-size: 115%;
    color: $hover_color;
  }
}
#subnav {
  max-width: $navigation_width;
  background-color: $subnav_bg;
  border-bottom: 1px solid $border_color;
  margin: auto;
  padding: 0;
  overflow: hidden;
  ul {
    clear: both;
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    li {
      display: inline;
      text-align: center;
      color: $navigation_font_color;
      background-color: $subnav_bg;
      margin: 0;
      float: left;
      padding: .5em 0 .5em 0;
      width: 33%;
      @media screen and (max-width: 550px) {
        /* mobile layout */
        width: $navigation_width/2;
      }
    }
  }
  a:link, a:active, a:visited {
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
    color: $navigation_font_color;
  }
  a:hover {
    font-weight: bold;
    font-size: 100%;
    color: $hover_color;
  }
}

h1 {
  font-weight: bold;
  font-size: 120%;
  margin: 1em 0em 0em 0;
  padding: 0em 1em 0.25em 0;
  text-align: right;
  color: $green;
  border-bottom: 1px solid $green;
}
h2 {
  font-weight: bold;
  font-size: 115%;
  margin: 1em 0em 0em 0;
  padding: 0em 1em 0.25em 0;
  text-align: left;
  color: $green;
}

#main {
  clear: both;
  background-color: $content_bg;
  overflow: hidden;
  margin: 0;
  padding: 0 .5em 0 .5em;
  #content {
    margin: 1em 1em 2em 1em;
    padding: 0;
    text-align: justify;
  }
}

#pagefoot {
  clear: both;
  text-align: center;
  font-size: 90%;
  max-width: $foot_width;
  color: $footer_font_color;
  padding: .5em 0 .5em 0;
  margin-top: 3em;
  margin: auto;
  a:link, a:active, a:visited, a:hover {
    text-decoration: none;
    color: $footer_font_color;
  }
  p {
    margin: 0;
  }
} 