body, select, input, textarea {
  /* default font size, text color, etc */
  color: $base_font_color;
  font-size: $base_font_size;
  font-family: $content_font_family;
}

/* for a fluid layout; this will make this scale down to fit */
img,
embed,
object,
video {
  max-width: 100%;
}

body {
  background-color: $page_bg;
}

p {
  margin: .5em 0em .5em 0em;
  padding: 0;
}

address {
  font-style: normal;
}

// other link stuff defined in the boilerplate, but I think it's good to
// have visited non-nav links be a different color
a:link, a:active { color: $link_color; }
a:visited { color: $visited_link_color; }
a:hover { color: $hover_color; }

// easily align things in haml
.center {
  text-align: center;
}
.right {
  text-align: right;
}

#container {
  max-width: $max_page_width;
  margin: auto;
}
  
#admin {
  width: 100%;
  text-align: right;
  clear: both;
  font-size: 80%;
  padding-bottom: .25em;
  a:link, a:active, a:visited, a:hover {
    text-decoration: none;
  }
  a:hover {
    color: $hover_color;
  }
}

#pagehead {
  background-image: url(/assets/background.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  height: 80px;
  overflow: hidden;
  max-width: $head_width;
  color: $header_font_color;
  padding: 0;
  margin: 0;
  #banner {
    float: left;
    width: $max_page_width/1.62;
    text-align: left;
    font-size: 150%;
    margin: 1.4em 0 0 0;
    img {
      @include transparent(0.8);
    }
  }
  #directions {
    float: right;
    width: 20em;
    text-align: left;
    font-size: 90%;
  }
}

#navigation {
  max-width: $navigation_width;
  color: $navigation_font_color;
  background-color: $navigation_bg;
  border-bottom: 2px solid #000000;
  margin: 0;
  padding: 0;
  overflow: hidden;
  ul {
    clear: both;
    display: block;
    list-style-type: none;
    padding: 0;
    margin: auto;
    overflow: hidden;
    li {
      display: inline;
      width: $navigation_width/6;
      text-align: center;
      margin: 0;
      float: left;
      padding: 0.75em 0em 0.75em 0em;
      background-color: $navigation_bg;
    }
  }
  a:link, a:active, a:visited {
    text-decoration: none;
    font-size: 120%;
    font-weight: bold;
    color: $navigation_font_color;
  }
  a:hover {
    font-weight: bold;
    font-size: 120%;
    font-weight: bold;
    color: $hover_color;
  }
}

h1 {
  font-weight: bold;
  font-size: 130%;
  margin: 1em 0em 1.5em 0;
  padding: 0.25em 0 0.25em 0;
  text-align: left;
  a:link, a:visited, a:active {
    color: $base_font_color;
    text-decoration: none;
  }
  a:hover {
    color: $hover_color;
  }
}

#main {
  clear: both;
  background-color: $content_bg;
  overflow: hidden;
  @include rounded(1px, #000000, 1em, 0, solid);
  margin: 0;
  #content {
    margin: 1em;
    padding: 0;
  }
  #footnote {
    text-align: center;
    font-size: 80%;
    margin: 3em 0 0 0;
    padding: 0;
    a:link {
      text-decoration: none;
    }
  }
}

#pagefoot {
  clear: both;
  text-align: center;
  font-size: 75%;
  max-width: $foot_width;
  color: $footer_font_color;
  padding: .5em 0 .5em 0;
  margin-top: 3em;
  margin: auto;
  a:link, a:active, a:visited, a:hover {
    text-decoration: none;
    color: $footer_font_color;
  }
  p {
    margin: 0;
  }
} 